<center>
<h1>Adventures don't just happen on their own, they begin with ADVENTURES IN YOUR FACE!</h1>

<h3>"We began as an idea and then quickly grew into other ideas. But after several failed attempts, we finaly got it right. Trust us, this time we definetly know how to bring you ADVENTURE! We gaurantee a "safe" experience!" - <b>Ted</b></h3>

<h2>Don't trust us? Just listen to our testimonials!</h2>

<h1><b>What Random People Have Said:</b></h1>
</center>

<h3><b>Paul:</b> "ADVENTURE IN YOUR FACE is the worst! After losing my arm in a hangliding accident (of which I never even left the ground) at Two Dude's and Human Kite, ADVENTURE IN YOUR FACE refuses to give me a refund! Let alone my arm back."</h3>

<h3><b>Mary:</b> "I have not been able to find my husband after our "adventure" to the Deliverence Reinactment Camp and it's been over several months! ADVENTURE IN YOUR FACE will not return my calls!"</h3>

<%= image_tag "0.jpg", class: "img-responsive" %>
<p>ADVENTURE IN YOUR FACE is an unregistered LLC.</p>

<%= link_to "Red", about_path(color: "red"), class: "btn btn-danger" %>
<%= link_to "Blue", about_path(color: "blue"), class: "btn btn-primary" %>
