<center>
<h1>Please do not attempt to contact us if this is an emergency. Instead call Ted (number coming soon)</h1>
<h3>If this is not an emergency, but an attempt for planning an amazing adventure, then give us a call at 867-5309</h3>
</center>

<%= image_tag "2.jpg", class: "img-responsive" %>
