<h1><center>Welcome to ADVENTURES IN YOUR FACE!</center><h1>
<h1><center>The Best Adventure Site This Side of The Milky Way!</center></h1>

<h2><center>We have all of your adventure needs, even when you don't need them...</center></h2>

<%= image_tag "danger.jpg", class: "img-responsive" %>

<h3><center>Visit exotic places, such as Alice's Diner of The Dead, or Bob's Truck Stop of Limited Parking! No matter where the travel, let us be your gauranteed source for ADVENTURES!</center></h3>

<h2><center>That's right, ADVENTURES IN YOUR FACE guarantees our clients at least one cool thing to happen!</center><h2>
